
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- page <title> </title> -->
    <title>Go-Trip</title>

    <!-- website icon  -->
     <link rel="website icon" type="png" href="assets/website-icon.png">

    <!-- css  -->
    <link rel="stylesheet" href="Go-trip.css">

</head>
<body>

    <header>
        <nav>
            <div class="logo">Go-Trip</div>
            <ul>
                <li><a href="">Discover</a></li>
                <li><a href="">Community</a></li>
                <li><a href="">Special Deals</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Resgister</a></li>
            </ul>

            <ion-icon name="menu" class="menu__icon"></ion-icon>
        </nav>

        <div class="content">

            <div class="cont_bx">
                <h1>The right desitination for You and Your Family.</h1>
                <p>Creative taglines have the capabitlity of capturing the attention of potential customer</p>
                <button> Start Your Search</button>
            </div>


            <div class="trip_bx">
                <div class="search_bx">

                    <div class="card">
                        <h4>Location <ion-icon name="caret-down" class="down_arrow"></ion-icon></h4>
                        <input type="text" placeholder="Enter Your Desitination">
                    </div>
                    <div class="card">
                        <h4>Date <ion-icon name="caret-down" class="down_arrow"></ion-icon></h4>
                        <input type="date">
                    </div>
                    <div class="card">
                        <h4>People <ion-icon name="caret-down" class="down_arrow"></ion-icon></h4>
                        <input type="number" placeholder="How many People ?">
                    </div>

                    <input type="button" value="Explore Now">
                </div>

                <div class="travel_bx">
                    <h4>Countries to Travel</h4>
                    <div class="cards">

                        <div class="card">
                            <h3>India <img src="assets/india-flag.avif" alt=""></h3>
                            <img src="assets/mumbai-night.avif" alt="">
                            <div class="btn_city">
                                <a href="">Read Now</a>
                                <h5>Mumbai Central <br><span>$460</span></h5>
                            </div>
                        </div>

                         <div class="card">
                            <h3>United-State<img src="assets/united-state-flag.1.jpg" alt=""></h3>
                            <img src="assets/newyork.avif" alt="">
                            <div class="btn_city">
                                <a href="">Read Now</a>
                                <h5>New York <br><span>$870</span></h5>
                            </div>
                        </div>

                        <div class="card">
                            <h3>Korea <img src="assets/Flag_of_South_Korea.png" alt=""></h3>
                            <img src="assets/korea-image.jpg" alt="">
                            <div class="btn_city">
                                <a href="">Read Now</a>
                                <h5>Seoul<br><span>$980</span></h5>
                            </div>
                        </div>

                        <div class="card">
                            <h3>Indonesia <img src="assets/indonesia-flag.jpg" alt=""></h3>
                            <img src="assets/bali.jpg" alt="">
                            <div class="btn_city">
                                <a href="">Read Now</a>
                                <h5>Bali <br><span>$740</span></h5>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

       

    </header>

    <div class="offers">
        <h1>Best tour Package offers for You</h1>
        <p>Choose Your Next Desitination</p>

        <div class="cards">
            <div class="card">
                <h3>Goa</h3>
                <div class="img_text">
                    <img src="assets/purple-martini-anjuna-goa-restaurants-r6lp5g2qu8.avif" alt="">
                    <h4>Inclded : Air ticket, Hotel, Breakfast, Tours, Airport transfer</h4>
                </div>
                <div class="cont_bx">
                    <div class="price">
                        <div class="heart_chat">
                            <ion-icon name="heart" style="color:palevioletred;">
                                <!-- <span>800 </span> -->
                            </ion-icon>
                           
                        
                            <ion-icon name="chatbubble" style="color: rgb(112, 196, 229);">
                                <!-- <span>450</span> -->
                            </ion-icon>
                        </div>

                        <div class="info_price">
                            <a href="">More info</a>
                            <h4>$26</h4>
                        </div>
                    </div>
                    <div class="days">5 Days <br>Goa</div>
                </div>
            </div>

            <div class="card">
                <h3>Manali</h3>
                <div class="img_text">
                    <img src="assets/manali.jpg" alt="" >
                    <h4>Inclded : Air ticket, Hotel, Breakfast, Tours, Airport transfer</h4>
                </div>
                <div class="cont_bx">
                    <div class="price">
                        <div class="heart_chat">
                            <ion-icon name="heart" style="color:palevioletred;">
                                <!-- <span>800 </span> -->
                            </ion-icon>
                           
                        
                            <ion-icon name="chatbubble" style="color: rgb(112, 196, 229);">
                                <!-- <span>450</span> -->
                            </ion-icon>
                        </div>

                        <div class="info_price">
                            <a href="">More info</a>
                            <h4>$26</h4>
                        </div>
                    </div>
                    <div class="days">7 Days <br>Manali</div>
                </div>
            </div>

            <div class="card">
                <h3>Rajsthan</h3>
                <div class="img_text">
                    <img src="assets/rajstan.jpg" alt="">
                    <h4>Inclded : Air ticket, Hotel, Breakfast, Tours, Airport transfer</h4>
                </div>
                <div class="cont_bx">
                    <div class="price">
                        <div class="heart_chat">
                            <ion-icon name="heart" style="color:palevioletred;">
                                <!-- <span>800 </span> -->
                            </ion-icon>
                           
                        
                            <ion-icon name="chatbubble" style="color: rgb(112, 196, 229);">
                                <!-- <span>450</span> -->
                            </ion-icon>
                        </div>

                        <div class="info_price">
                            <a href="">More info</a>
                            <h4>$26</h4>
                        </div>
                    </div>
                    <div class="days">3 Days <br>Rajsthan</div>
                </div>
            </div>

            <div class="card">
                <h3>Maldives</h3>
                <div class="img_text">
                    <img src="assets/maldives.jpg" alt="">
                    <h4>Inclded : Air ticket, Hotel, Breakfast, Tours, Airport transfer</h4>
                </div>
                <div class="cont_bx">
                    <div class="price">
                        <div class="heart_chat">
                            <ion-icon name="heart" style="color:palevioletred;">
                                <!-- <span>800 </span> -->
                            </ion-icon>
                           
                        
                            <ion-icon name="chatbubble" style="color: rgb(112, 196, 229);">
                                <!-- <span>450</span> -->
                            </ion-icon>
                        </div>

                        <div class="info_price">
                            <a href="">More info</a>
                            <h4>$26</h4>
                        </div>
                    </div>
                    <div class="days">10 Days <br>Maldives</div>
                </div>
            </div>

            <div class="card">
                <h3>Ladakh</h3>
                <div class="img_text">
                    <img src="assets/ladakh.jpg" alt="">
                    <h4>Inclded : Air ticket, Hotel, Breakfast, Tours, Airport transfer</h4>
                </div>
                <div class="cont_bx">
                    <div class="price">
                        <div class="heart_chat">
                            <ion-icon name="heart" style="color:palevioletred;">
                                <!-- <span>800 </span> -->
                            </ion-icon>
                           
                        
                            <ion-icon name="chatbubble" style="color: rgb(112, 196, 229);">
                                <!-- <span>450</span> -->
                            </ion-icon>
                        </div>

                        <div class="info_price">
                            <a href="">More info</a>
                            <h4>$26</h4>
                        </div>
                    </div>
                    <div class="days">6 Days <br>Ladakh</div>
                </div>
            </div>

            <div class="card">
                <h3>Santorini</h3>
                <div class="img_text">
                    <img src="assets/santorini.jpg" alt="">
                    <h4>Inclded : Air ticket, Hotel, Breakfast, Tours, Airport transfer</h4>
                </div>
                <div class="cont_bx">
                    <div class="price">
                        <div class="heart_chat">
                            <ion-icon name="heart" style="color:palevioletred;">
                                <!-- <span>800 </span> -->
                            </ion-icon>
                           
                        
                            <ion-icon name="chatbubble" style="color: rgb(112, 196, 229);">
                                <!-- <span>450</span> -->
                            </ion-icon>
                        </div>

                        <div class="info_price">
                            <a href="">More info</a>
                            <h4>$26</h4>
                        </div>
                    </div>
                    <div class="days">10 Days <br>Santorini</div>
                </div>
            </div>

           
        </div>

    </div>




    <!-- main js script  -->
    <script src="Go-trip.js"></script>

    <!-- ionicon link  -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</body>


</html>