<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>

   <link rel="stylesheet" href="card.css">
</head>
<body>

   <!-- SIDEBAR  -->

   <nav class="sidebar">
      <header>
          <div class="image-text">
              <span class="image">
                  <img src="../../assets/website-icon.png" alt="image">
              </span>

              <div class="text header-text">
                  <span class="name">Glamiee</span>
                  <!-- <span class="categories-part">Categories</span> -->
              </div>
          </div>

          <!-- <i class='bx bx-chevron-right toggle'></i> -->
      </header>

      <div class="menubar">
          <div class="menu">
              <ul class="menu-links">
                  <li class="nav-link">
                      <a href="#">
                          <!-- <i class='bx bx-home-heart icon' ></i> -->
                           <img src="../../assets/cloth/crochet.jpg" alt="image">
                          <span class="text nav-text">Top</span>
                      </a>
                  </li>

                  <li class="nav-link">
                      <a href="#">
                          <!-- <i class='bx bx-home-heart icon' ></i> -->
                           <img src="../pages/cloths/img/brown-formal.jpeg" alt="image">
                          <span class="text nav-text">Formal-outfits</span>
                      </a>
                  </li>

                  <li class="nav-link">
                      <a href="#">
                          <!-- <i class='bx bx-home-heart icon' ></i> -->
                           <img src="../../assets/cloth/dresses.jpg" alt="image">
                          <span class="text nav-text">Dresses</span>
                      </a>
                  </li>

                  <li class="nav-link">
                      <a href="#">
                          <!-- <i class='bx bx-home-heart icon' ></i> -->
                           <img src="../pages/cloths/img/kurta set.jpeg" alt="image">
                          <span class="text nav-text">Kurta-sets</span>
                      </a>
                  </li>

                  <li class="nav-link">
                      <a href="#">
                          <!-- <i class='bx bx-home-heart icon' ></i> -->
                           <img src="../pages/cloths/img/bottom.jpeg" alt="image">
                          <span class="text nav-text">Bottom-Wear</span>
                      </a>
                  </li>


              </ul>
          </div>
      </div>
  </nav>

   <!-- CONTENT  -->

   
   <!-- MAIN  -->

   <main>
      <section class="home">

         <!-- home-text  -->
         <div class="home-text">
            <span>Latest-Top</span>
         </div>

         <!-- card container  -->
         <div class="container">
            <div class="card__container">
               <article class="card__article">
                  <img src="../pages/cloths/img/top/green-top.jpeg" alt="image" class="card__img">
                  <div class="card__data">
                      <span class="card__description">Women Solid Long Sleeves Top
                          <h2 class="card__title">KOTTY <br>
                              <a href="" class="card__button">Read More </a>
                          </h2>
                      </span>
                      
                  </div>
              </article>

              <article class="card__article">
                  <img src="../pages/cloths/img/top/green-top.jpeg" alt="image" class="card__img">
                  <div class="card__data">
                     <span class="card__description">Women Solid Long Sleeves Top
                        <h2 class="card__title">KOTTY <br>
                           <a href="" class="card__button">Read More </a>
                       </h2>
                     </span>
                   
                  </div>
               </article>

               <article class="card__article">
                  <img src="../pages/cloths/img/top/green-top.jpeg" alt="image" class="card__img">
                  <div class="card__data">
                     <span class="card__description">Women Solid Long Sleeves Top
                        <h2 class="card__title">KOTTY <br>
                           <a href="" class="card__button">Read More </a>
                        </h2>
                     </span>
                  </div>
               </article>

               <article class="card__article">
                  <img src="../pages/cloths/img/top/green-top.jpeg" alt="image" class="card__img">
                  <div class="card__data">
                     <span class="card__description">Women Solid Long Sleeves Top
                        <h2 class="card__title">KOTTY <br>
                           <a href="" class="card__button">Read More </a>
                     </h2>
                     </span>
             
                  </div>
               </article>

               <article class="card__article">
                  <img src="../pages/cloths/img/top/green-top.jpeg" alt="image" class="card__img">
                  <div class="card__data">
                     <span class="card__description">Women Solid Long Sleeves Top
                        <h2 class="card__title">KOTTY <br>
                           <a href="" class="card__button">Read More </a>
                        </h2>
                     </span>
          
                  </div>
               </article>

               <article class="card__article">
                  <img src="../pages/cloths/img/top/green-top.jpeg" alt="image" class="card__img">
                  <div class="card__data">
                     <span class="card__description">Women Solid Long Sleeves Top
                        <h2 class="card__title">KOTTY <br>
                           <a href="" class="card__button">Read More </a>
                        </h2>
                     </span>
       
                  </div>
               </article>

               <article class="card__article">
                  <img src="../pages/cloths/img/top/green-top.jpeg" alt="image" class="card__img">
                  <div class="card__data">
                     <span class="card__description">Women Solid Long Sleeves Top
                        <h2 class="card__title">KOTTY <br>
                           <a href="" class="card__button">Read More </a>
                        </h2>
                     </span>
       
                  </div>
               </article>
               
            </div>
         </div>

      </section>
   </main>


   
</body>
</html>